/** 
  * body.css
  *
  * These are the styles for the body of the webpage   
  *
  * Index
  * - badge
  * - badge-danger
  * - badge-dark
  * - badge-info
  * - badge-light
  * - badge-pill
  * - badge-secondary
  * - badge-success
  * - badge-warning
  * - btn-Add
  * - btn-Base
  * - btn-Danger
  * - btn-Del-All
  * - btn-Del-Single
  * - btn-Edit
  * - btn-Success
  * - my-4
  * - name
  * - tag
  * - task-Option
  * - to-do-Item
  */

.badge {
    border-radius: .25rem;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .25em .4em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.badge .btn {
    position: relative;
    top: -1px;
}
.badge-danger {
    background-color: #dc3545;
    color: #fff;
} 
.badge-danger[href]:focus, .badge-danger[href]:hover {
    background-color: #bd2130;
    color: #fff;
    text-decoration: none;
}
.badge-dark {
    background-color: #343a40;
    color: #fff;
}
.badge-dark[href]:focus, .badge-dark[href]:hover {
    background-color: #1d2124;   
    color: #fff;
    text-decoration: none;
} 
.badge:empty {
    display: none;
}
.badge-info[href]:focus, .badge-info[href]:hover {
    background-color: #117a8b;
    color: #fff;
    text-decoration: none;
}
.badge-light {
    background-color: #f8f9fa;
    color: #212529;
}
.badge-light[href]:focus, .badge-light[href]:hover {
    background-color: #dae0e5;
    color: #212529;
    text-decoration: none;
} 
.badge-pill {
    border-radius: 10rem;
    padding-left: .6em;
    padding-right: .6em;
}
.badge-secondary {
    background-color: #6c757d;
    color: #fff;
}
.badge-secondary[href]:focus, .badge-secondary[href]:hover {
    background-color: #545b62;
    color: #fff;
    text-decoration: none;
}
.badge-success {
    background-color: #28a745;
    color: #fff;
}
.badge-success[href]:focus, .badge-success[href]:hover {
    background-color: #1e7e34;
    color: #fff;
    text-decoration: none;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-warning[href]:focus, .badge-warning[href]:hover {
    background-color: #d39e00;
    color: #212529;
    text-decoration: none;
}
.btn-add {
    background-color: #6ebb83;
    color: #fff;
    margin: 2.2px 0 0 15px;
    padding: 4.5px 28px;
}
.btn-base {
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 0.8rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}
.btn-base:active {
    transform: translateY(1px);
}
.btn-base:focus {
    outline: #575757 1px dotted;
    outline-offset: -1px;    
} 
.btn-danger {
    background-color: #cac7c7;
    border-color: #cac7c7;
    color: #fff;
}
.btn-danger.disabled, .btn-danger:disabled {
    background-color: #cac7c7;
    border-color: #cac7c7; 
    color: rgb(180, 21, 21);
}
.btn-danger.focus, .btn-danger:focus {
    background-color: #cac7c7;
    border-color: #cac7c7; 
    color: rgb(180, 21, 21);
}
.btn-danger:hover {
    background-color: #cac7c7;
    border-color: #cac7c7; 
    color: rgb(180, 21, 21);
}
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show > .btn-danger.dropdown-toggle {
    background-color: #cac7c7;
    border-color: #cac7c7; 
    color: rgb(180, 21, 21);
}
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus,.show > .btn-danger.dropdown-toggle:focus {
    box-shadow: 0 0 0 0 #cac7c7;
}
.btn-del-all { 
    background-color: rgb(242, 242, 242);
    color: #d91d2a;
    margin: 2.2px 15px 0 0;
    padding: 4.5px 28px;
}
.btn-del-single {
    background-color: rgb(242, 242, 242);
    color: #d91d2a;
    margin: 0 2.5px 0 2.5px;
    padding: 4.5px 20px;
}
.btn-edit {
    background-color: #6ebb83;
    color: #fff;
    margin: 0 2.5px 0 2.5px;
    padding: 4.5px 20px;
}
.btn-success.disabled, .btn-success:disabled {
    background-color: #1e7e34;
    border-color: #1e7e34;
    color: #fff
}
.btn-success.focus, .btn-success:focus {
    background-color: #1e7e34;
    border-color: #1e7e34; 
    color: #fff
}
.btn-success:hover {
    background-color: #1e7e34;
    border-color: #1e7e34;
    color: #fff
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show > .btn-success.dropdown-toggle {
    background-color: #1e7e34;
    border-color: #1e7e34;
    color: #fff
}
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus,.show > .btn-success.dropdown-toggle:focus {
    box-shadow: #1e7e34;
}
.my-4 {
    margin-top: 1.5rem!important
}
.my-4 {
    margin-bottom:1.5rem!important
}
.name {
    font-size: 20px;
}
.tag {
    background-color: white;
    border: 1px solid #17a2b8;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    color: #17a2b8;
    float: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 4px 10px;
    text-indent: 0;
    text-transform: uppercase;
    padding: 4px 10px;
    white-space: nowrap;
}
.task-option {
    float: right;
    margin-right: 5px;    
}
.title {
    font-size: 2.8rem;
    font-weight: 100;
    padding-bottom: 5px;
    padding-top: 5px;
}
.to-do-item {
    background-color: white;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    display: inline-block;
    margin-bottom: 25px;
    padding: 35px 25px;
    text-align: left;
    width: 50%;
}