/** 
  * defaultStyles.css
  *
  * These are the default styles for the webpage    
  *
  * Index
  * - body
  * - input[type = 'text'] 
  * - input[type = 'emaill']
  * - textarea
  * - li
  * - p
  * - table 
  */

body {
    color: #575757;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 100;
    margin: 0;
}
input[type = 'text'], 
input[type = 'email'], 
textarea {
    box-shadow: none;
    width: 100%;
}
p {
    word-wrap: break-word;
}
table {
    font-size: 1em;
}
