/** 
  * id.css
  *
  * These are the id property styles for the webpage    
  *
  * Index
  * - add
  * - content
  * - deleteAll
  * - dropdown
  * - dropdownMenuButton
  * - footer
  * - header
  * - logo
  * - option
  * - sort
  */

#add {
    border-radius: 20px;
    float: left;
}
#content {
    background-color: rgb(242, 242, 242);
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
    margin-top: 90px;
    padding-top: 0;
    text-align: center;
}
#deleteAll {
    border-radius: 20px;
    float: right;
    margin-right: 15px;
}
#dropdown {
    background-color: white;
    float: left;
    margin-left: 10px;
}
#dropdownMenuButton {
    border-radius: 20px;
}
#footer {
    background-color: rgb(255, 255, 255);
    border: 1px solid #e0e0e0;
    bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;
}
#header {
    background-color: rgb(74, 89, 100);
    position: fixed;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 1;
}
#logo {
    height: 70px;
    margin-left: 20px;
    padding: 10px;
}
#option {
    border-radius: 20px;
}
#sort {
    color: #575757;
    float: left;
    font-size: 0.9rem;
    font-weight: 100;
    margin-left: 5px;
    margin-top: 4.5px;
    outline: 0;
}